html {
    scroll-behavior: smooth;
}

body {
    background-color: #3B3B3B;

    font-family: 'Open Sans', sans-serif;
    color: white;
}

.topBar {
    background-image: url('../images/topBarImage.jpg');

    /* Full height */
    height: 1560px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    background-color: black;

    font-family: 'Open Sans', sans-serif;
    color: white;

    overflow: hidden;
}

.menu a {
    text-decoration: none;
    font-size: 7em;
    color: lightgray;

    text-align: center;
    float: left;

    padding: 45px 75px;

}

.menu a:hover {
    background-color: #dddddd;
    color: black;
}

@font-face {
    font-family: generator;
    src: local('Generator'),
    url("Generator.ttf");
}

h1 {
    font-family: generator, Impact, Charcoal, sans-serif;
    color: white;

    font-size: 25em;
    text-align: center;

    margin-top: inherit;

    padding-left: 1000px;
    padding-top: 300px;
}

h2 {
    font-size: 1.75em;
    font-style: italic;
    margin-bottom: 100px;
}

.content {
    background-color: #3B3B3B;
    font-size: 7em;

    margin-left: 150px;
}

.section {
    padding-bottom: 200px;
}

.section p {
    margin-left: 150px;
    font-size: .6em;
    width: 60%;
}

.section ul {
    width: 70%;
    margin-left: 150px;
}

.preview {
    float: none;
    overflow: hidden;

    width: 1250px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 100px;
    margin-bottom: 25px;

    display: inline-block;
}

.preview:first-of-type {
    margin-left: 200px;
}

.preview .image {
    width: 100%;
}

.caption {
    color: black;
    font-size: 1em;
    text-align: center;
    padding: 10px 20px;
}

.caption > p {
    margin-top: 15px;
    margin-bottom: 15px;
}


.quotePanel {
    width: 70%;

    color: white;
    background-color: black;

    margin-top: 16px;
    margin-bottom: 16px;

    padding: 0.01em 16px;

    display: block;

    line-height: 1.5;
}
