body {
    margin: 4em;
    width: 400px;
}

#title{
    font-family: "Courier New", Courier, Monospace, Times;
    text-align: center;
    color: whitesmoke;
    background: firebrick;
    margin-bottom: 5px;
}

#title h2{
    padding: 10px;
}

#selections {
    font-family: "Courier New", Courier, Monospace, Times;
    padding: 15px;
    padding-top: 5px;
    margin-bottom: 15px;
    color: white;
    background: #bd4545;
}

#selections h3 {
    margin: 10px;
}

#selections p {
    padding-left: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    white-space: pre;
}

#selections p:first-of-type {

}

table {
    margin-left:auto;
    margin-right:auto;}

th {
    font-family: "Courier New", Courier, Monospace, Times;
    background: darkslategray;
    color: whitesmoke;
}

td {
    text-align: center;
    width: 4cm;
}

tr.even {
    color: cornsilk;
    background: salmon;
}

tr.odd {
    background: whitesmoke;
}